bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.DataBridge/.idea/

DataBridge/wwwroot/gcp.json

DataBridge.sln.DotSettings.user

DataBridge/wwwroot/~$Products.xlsx

.cursorignore

DataBridge/wwwroot/voices/

qodana.yaml

web-app/.idea/

DataBridge/wwwroot/Products.xlsx
DataBridge/wwwroot/Products.sql
DataBridge/wwwroot/Products.*
DataBridge/wwwroot/*.xlsx
DataBridge/wwwroot/*.sql


DataBridge/appsettings.Andrew.json

DataBridge/wwwroot/ellsworth_e.jfif

postman_collection.json

DataBridge/wwwroot/ERD - Copy.png
